<header class="site-header">
  <div class="site-header-inner">
    <a href="{{base}}index.html" class="site-logo" data-page="index"><span class="site-logo-mark"></span>AGI HUB</a>
    <nav class="site-nav-right">
      <a href="{{base}}index.html#latest" class="site-nav-hide-mobile" data-page="articles">Articles</a>
      <a href="{{base}}models-evals.html" class="site-nav-hide-mobile" data-page="models-evals">Models</a>
      <a href="{{base}}displacement-map.html" class="site-nav-hide-mobile" data-page="displacement-map">Data</a>
      <a href="{{base}}taxonomy-network.html" class="site-nav-hide-mobile" data-page="taxonomy-network">Map</a>
      <a href="{{base}}index.html#about" class="site-nav-hide-mobile" data-page="about">About</a>
      <div id="google_translate_element"></div>
    </nav>
  </div>
</header>
